*{

    margin: 0;
    /* font-family:'Work Sans'; */
    font-family: 'Work Sans', sans-serif;
}

/* header styles */
.header{
    
}
.heaer-img{
    position: relative;

}

.header-item{
    position: absolute;
    top: 0;

}
.header-title{
    font-weight: 700;
    font-size: 65px;
    color: #151414;
    margin-top: 216px;
    margin-right: 230px;
    margin-left: 825px;
    margin-bottom: 24px;
    text-align: right;

}
.header-descripton{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    /* padding-right: 230px;
    padding-left: 876px;
    padding-bottom: 32px; */
    /* margin-top: 24px;
    margin-left: 876px; */
    margin: 24px 230px 32px 825px;
    text-align: right;



}
.btn-primary{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px ;
    border: 0;
    background-color:#FD6E0A;
    padding: 20px 25px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-top: 15px;
    margin-left: 1125px;

}

/* main section stracture */

.main-section{
    display: flex;
    column-gap: 150px;
    text-align: left
}
.section-img{
    background-color:;
    margin-top: 150px;
    margin-left: 225px;
    margin-right: 0px;
    margin-bottom: 10px;


}

.section-contaner{
    margin-top: 400px;
    margin-left: 0px;
    margin-right: 200px;
    margin-bottom: 10px;

}
.section-title{
    font-weight: 700;
    font-size: 40px;
    color: #151414;

}
.section-description{
    font-weight: 400;
    font-size: 18px;
    color: #444343;
    margin-top: 24px;
    margin-bottom: 15px;

}
.section-list{
    /* font-weight: 400;
    font-size: 16px; */
    color: #444343;
    list-style: none;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 200px;


}
/* section list item */
.section-list-title{
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
   
    
}

ul{
    padding-left: 0;
}
.list-div{
    padding-left: 0;


}

/* my plan section */

.my-plan{
    margin-left: 219px;
    margin-right: 240px;
    margin-bottom: 130px;

}
/* my plan image  */

    .my-plan-web-img{

    }
    .my-plan-java-img{
        margin-left: 30px;

    }
    .my-plan-smoke-img{
        margin-left: 60px;

    }
    .my-plan-ecom-img{
        margin-left: 25px;

    }

    .my-plan-title{
        text-align: center;
        font-weight: 700;
        font-size: 40px;
        color: #151414;
        margin-bottom: 60px;}

.my-plan-web{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 60px;
}
.my-plan-contaner{
    display: flex;
    gap: 80px;
}


/*  box */
/* .my-plan-web{
 
}

.my-plan-java{
    
}
.my-plan-smoke{
    

}

.my-plan-ecom{

} */

/* my plan title */

.my-plan-web-title{
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin-top: 24px;
}
.my-plan-java-title{
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin-top: 24px;
}
.my-plan-smoke-title{
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin-top: 24px;
}
.my-plan-ecom-title{
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin-top: 24px;
}

/* my plan description */
.my-plan-web-des{
    text-align: center;
    margin-top: 16px;
    color: #737272;
    font-size: 18px;
    font-weight: 500;

}
.my-plan-java-des{
    text-align: center;
    margin-top: 16px;
    color: #737272;
    font-size: 18px;
    font-weight: 500;

}
.my-plan-smoke-des{
    text-align: center;
    margin-top: 16px;
    color: #737272;
    font-size: 18px;
    font-weight: 500;

}
.my-plan-ecom-des{
    text-align: center;
    margin-top: 16px;
    font-size: 18px;
    color: #737272;
    font-weight: 500;

}


/* gradient image creat */
.image-text{
    background-image: url('../images/gradient2.png'), url(../images/watch.png);
    position: relative;
    background-repeat: no-repeat;
    border-radius: 8px;
    width: 1140px;
    height: 300px;
    margin-top: 120px;
    
}
.grad-img-title{
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    padding-top: 59px;
    padding-left: 64px;
    padding-bottom: 24px;
    padding-right: 617px;
}
.btn-sec{
    font-weight: 600;
    font-size: 20px;
    color: #F15B22;
    padding: 20px 30px;
    margin-left: 64px;
    margin-right: 916px;
    margin-bottom: 64;
}
   



/* footer section */
.footer{
    display: flex;
    background: #151414;
}
.footer-contaner{
    margin-top: 130px;
    margin-bottom: 130px;
    margin-left: 230px;
    margin-right: 331px;
}
.footer-title{
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
}
.footer-description{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 24px;
}
.footer-email{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.phone{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 32px
}

.icon-image-twitter{
    margin-left: 18px;
    margin-right: 18px;
    border: #151414 solid 1px;

}

.footer-page{
    margin-top: 129px;
    margin-right: 230px;
    margin-bottom: 200;

}
.footer-sub{
    font-weight: 700;
    font-size: 45px;
    color: #FFFFFF;
}
.footer-int-email{
    margin-top: 31px;
    margin-bottom: 16px;
    background-color: #151414;
    border: #FFFFFF solid 1px;
    padding-top: 22px;
    padding-right: 158px;
    padding-bottom: 22px;
    padding-left: 21px;
}
.sub-btn{
    font-weight: 600;
    font-size: 20px;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 15px 35px;
    color: #FD6E0A;

}


