*{

    margin: 0;
    /* font-family:'Work Sans'; */
    font-family: 'Work Sans', sans-serif;
}

/* header styles */
.header{
    
}
.heaer-img{
    position: relative;

}

.header-item{
    position: absolute;
    top: 0;

}
.header-title{
    font-weight: 700;
    font-size: 65px;
    color: #151414;
    margin-top: 216px;
    margin-right: 230px;
    margin-left: 825px;
    margin-bottom: 24px;
    text-align: right;

}
.header-descripton{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    /* padding-right: 230px;
    padding-left: 876px;
    padding-bottom: 32px; */
    /* margin-top: 24px;
    margin-left: 876px; */
    margin: 24px 230px 32px 825px;
    text-align: right;



}
.btn-primary{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px ;
    border: 0;
    background-color:#FD6E0A;
    padding: 20px 25px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-top: 15px;
    margin-left: 1125px;

}

/* main section stracture */

.main-section{
    display: flex;
    column-gap: 150px;
}
.section-img{
    background-color:;
    margin-top: 150px;
    margin-left: 225px;
    margin-right: 0px;
    margin-bottom: 130px;


}

.section-contaner{
    margin-top: 400px;
    margin-left: 0px;
    margin-right: 200px;
    margin-bottom: 214px;

}
.section-title{
    font-weight: 700;
    font-size: 40px;
    color: #151414;

}
.section-description{
    font-weight: 400;
    font-size: 18px;
    color: #444343;
    margin-top: 24px;
    margin-bottom: 15px;

}
.section-list{
    font-weight: 400;
    font-size: 16px;
    color: #444343;

}
/* section list item */
.section-list-title{
    margin-bottom: 8px;
    list-style: url(<i class="fa-light fa-check"></i>);
}